<section class="about-section flex justify-center items-center gap-14 min-h-full max-w-7xl mx-auto">
    <div class="w-1/2 flex justify-end">
        <img src="/assets/images/about/about.jpg" class="max-w-sm rounded-lg shadow-lg object-cover">
    </div>

    <div class="w-1/2 flex flex-col justify-center">
        <h2 class="text-3xl font-bold mb-4">Quem Somos</h2>
        <p class="max-w-prose text-gray-700 leading-relaxed">
            Nossa missão é equipar operadores e entusiastas com o que há de mais avançado no universo do airsoft,
            garantindo desempenho absoluto, confiabilidade e máxima imersão em campo. Mais do que uma loja
            especializada, somos um coletivo apaixonado por táticas, estratégia e adrenalina, dedicado a selecionar
            rigorosamente cada loadout, rifle, pistola e acessório do nosso catálogo para que você entre em cada missão
            preparado para vencer.
        </p>
    </div>
</section>