<section class="home-section h-full flex items-center flex-col gap-5 justify-center text-white text-center">
    <h1 class="text-3xl font-bold">SUPREMACIA <span class="text-red-600">TÁTICA</span> EM CADA <span
            class="text-red-600">OPERAÇÃO</span>.</h1>
    <p class="text-lg max-w-prose text-gray-100">Equipamentos de alto padrão, airsoft de alta performance e vestuário
        tático testado
        no limite.
        Prepare seu
        loadout com quem entende de missão.</p>
    <a
        class="py-4 px-6 rounded-full text-xl hover:bg-transparent hover:text-red-600 transition-all duration-300 bg-red-600 font-medium border-2 border-red-600">Explorar
        Catálogo</a>
</section>